
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Script.js"></script>
}
    <select name="update" id="update">
        <option value="employee">Таблица сотрудников</option>
        <option value="otdel">Таблица отделов</option>
        <option value="position">Таблица должностей</option>
        <option value="product">Таблица продуктов</option>
        <option value="purchase">Таблица покупок</option>
        <option value="specialization">Таблица специализации</option>
    </select>
<button id="ok">Ok</button>
<table id="table">
    @*<caption><h1>Таблица Сотрудников</h1></caption>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Date start</th>
            <th>Otdel</th>
            <th>Position</th>
            <th>Specialization</th>
        </tr>
        @{
            foreach (var item in ViewBag.Employee)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.surname</td>
                    <td>@item.date_start</td>
                    <td>@item.otdel.name</td>
                    <td>@item.position.name</td>
                    <td>@item.specialization.name</td>
                </tr>
            }
        }*@
</table>

